.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.label {
    font-size: 0.8rem;
    margin-inline-end: 10px;
}

.text,
.select {
    height: 40px;
    width: 450px;
    color: gray;
    outline: none;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    padding-block: 0;
    padding-inline: 20px;
    font-size: 0.8rem;
    font-family: "Manrope", sans-serif;
}

.text {
    appearance: none;
}

.select {
    width: 490px;
    background-color: transparent;
}

.text::placeholder {
    color: rgb(192, 185, 185);
}

.submit {
    height: 40px;
    width: 60px;
    outline: none;
    appearance: none;
    border: none;
    border-radius: 8px;
    transition: ease 0.2s;
    cursor: pointer;
    font-size: 0.8rem;
}

.submit:hover {
    background-color: lightblue;
}

.error {
    color: crimson;
    font-weight: 700;
    font-size: 0.8rem;
    margin-block-start: 5px;
    margin-inline-start: 80px;
}